<html ng-app="firetube">
<head>
  <title>FireTube</title>
  <script type="text/javascript" src="https://cdn.firebase.com/v0/firebase.js"></script>
  <script type="text/javascript" src="https://cdn.firebase.com/v0/firebase-auth-client.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.1.5/angular.min.js"></script>
  <script type="text/javascript" src="https://connect.facebook.net/en_US/all.js"></script>
  <script type="text/javascript" src="angularFire.js"></script>
  <script type="text/javascript" src="firetube.js"></script>
  <link rel="stylesheet" type="text/css" href="firetube.css">
</head>

<body ng-controller="Firetube">
<div id="loginDiv">
  <span ng-show="user">
    {{user.name}} | <a href="#" ng-click="logout()">Logout</a>
  </span>
  <a href="#" ng-hide="user" ng-click="login()">Login</a>
</div>
<img id="video" src="twinkie.png"/>

<div id="comments">
  <div class="comment" ng-repeat="(id, comment) in comments">
    <img class="pic" src="https://graph.facebook.com/{{comment.id}}/picture">
    <span><b>{{comment.name}}</b><br/>{{comment.body}}</span>
  </div>
</div>
<div id="textWrap">
  <textarea id="text" rows="3" placeholder="Enter a new comment..."
    ng-model="newComment" ng-keydown="addComment($event)"></textarea>
</div>
<div id="fb-root"></div>
</body>

</html>
